
.header {
    height: 100vh;
    width: 100%;
    position: relative;
}

.img-container {
    width: 60%;
    position: relative;
    display: inline-block;
    transition: .2s all;
    display: flex;
    margin-top: 175px;
    /* justify-content: space-between; */
    /* outline: 1px solid red; */
}

#img-marian {
}

#img-agus {
    z-index: 10;
    position: absolute;
    left: 200px;
}

.img-header {
    width: 95%;
    transition: .2s all;
    transition: .2s all;
}

.img-header:hover {
    cursor: pointer;
}