#footer {
    background-color: black;
    height: 400px;
    position: relative;
    border-top: 1px solid white;
}

.labels {
    color: white;
    margin: 10px;
    padding: 10px;
}

.labels h3 {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 2.8rem;
}

.labels div {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#footer-v2 {
    width: 100%;
    background-color: white;
    height: 33px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    overflow: hidden;
    bottom: -100px; /* Posiciona el footer fuera de la vista inicialmente */
    position: absolute;
    bottom: 0;
}

.text-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.footer-title {
    font-size: 2.6rem;
    font-family: var(--montserrat);
    font-weight: 1000;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: scaleY(1.3);
    transform-origin: center; 
    line-height: 1; 
    margin-right: 10px;
} 

.footer-visible {
    bottom: 0; /* Posiciona el footer visible cuando la clase se añade */
}